@font-face {
  font-family: "Inter Black";
  src: local("Inter Black"),
    url("./assets/fonts/inter/Inter-Black.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Black Italic";
  src: local("Inter Black Italic"),
    url("./assets/fonts/inter/Inter-BlackItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Bold";
  src: local("Inter Bold"),
    url("./assets/fonts/inter/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Bold Italic";
  src: local("Inter Bold Italic"),
    url("./assets/fonts/inter/Inter-BoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Extra Bold";
  src: local("Inter Extra Bold"),
    url("./assets/fonts/inter/Inter-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Extra Bold Italic";
  src: local("Inter Extra Bold Italic"),
    url("./assets/fonts/inter/Inter-ExtraBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Italic";
  src: local("Inter Italic"),
    url("./assets/fonts/inter/Inter-Italic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Medium";
  src: local("Inter Medium"),
    url("./assets/fonts/inter/Inter-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Medium Italic";
  src: local("Inter Medium Italic"),
    url("./assets/fonts/inter/Inter-MediumItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Regular";
  src: local("Inter Regular"),
    url("./assets/fonts/inter/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Semi Bold";
  src: local("Inter Semi Bold"),
    url("./assets/fonts/inter/Inter-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Semi Bold Italic";
  src: local("Inter Semi Bold Italic"),
    url("./assets/fonts/inter/Inter-SemiBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Inter Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
